<div>
  <h2>Supply Entry</h2>
  <form>
    <div>
      <select [(ngModel)]="selectedSupplier">
        <option *ngFor="let supplier of suppliers" [ngValue]="supplier">{{ supplier.name }}</option>
      </select>
    </div>
    <div>
      <select [(ngModel)]="selectedProduct">
        <option *ngFor="let product of leftProducts" [ngValue]="product">{{ " Название: " + product.name}}</option>
      </select>
    </div>
    <div>
      <label for="quantity">Количество</label>
      <input type="number" id="quantity" [(ngModel)]="formQuantity">
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Дата поставки</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="supplyDate" id="supplyDate" name="supplyDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <button type="button" (click)="addProduct()">Add Product</button>
    <button type="submit" [disabled]="!isValid()">Submit Supply</button>
  </form>

    <div *ngFor="let suppliedProduct of suppliedProducts; let i = index">
      <h3>Product supply {{ i + 1 }}</h3>
      <div>
        <div>Supplier name: {{suppliedProduct.supplier.name}}</div>
      </div>
      <div>
        <div>Name: {{suppliedProduct.product.name}} Type: {{suppliedProduct.product.type}}</div>
      </div>
      <div>
        <div>Quantity: {{suppliedProduct.quantity}}</div>
      </div>
      <button type="button" (click)="removeProduct(i)">Remove Product</button>
    </div>
</div>
